#arial{
    font-family: Arial, sans-serif;
    color: red;
}

#times{
    font-family:Times, serif;
    font-size: 22px;
    color: green;
}

#italico{
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 22px;
    color: blue;
    font-style: italic;
}

#verdana{
    font-family: Verdana, sans-serif;
    color: yellow;
    font-size: 14px;
    font-weight: bold;
}